{% extends "dashboard.html" %}


{% block content %}




<div class="d-flex flex-column" id="content-wrapper" style="margin-right: 10px;margin-left: 10px;">
  <div class="container py-4 py-xl-5">
      <div class="row d-lg-flex justify-content-lg-center mb-3">


          <div class="col-lg-6 col-xl-7 col-xxl-8">                      
              <div class="row">
                  <div class="col">
                      <div class="card shadow mb-3">
                          <div class="card-header py-3">
                              <h6 class="text-primary m-0 fw-bold" style="font-size: 20px;" id="videoTitle"></h6>
                          </div>
                          <div class="card-body">
                              <div class="ratio ratio-16x9"><iframe id="videoFrame" width="100%" height="60%" frameborder="0" allowfullscreen></iframe>
                              </div>
                              {#<button onclick="playPreviousVideo()">Previous Video</button>
                              <button onclick="playNextVideo()">Next Video</button>#}
                          </div>
                      </div>
                  </div>
              </div>
              
          </div>
          <div class="col-lg-6 col-xl-5 col-xxl-4 offset-lg-0 offset-xxl-0">
              <div class="card shadow mb-4">
                  <div class="card-header py-3">
                      <h6 class="text-primary fw-bold m-0" style="font-size: 31px;">Suggestion</h6>
                  </div>
                  <div class="card-body">
                      <ul class="list-group">
                        {% for video in data1.videos %}
                        <a href="#" onclick="playVideo('{{ video.link }}', '{{ video.rating }}', '{{ video.dis }}', '{{ video.title }}')" style="text-decoration: none;">
                          <li class="list-group-item">
                            <span style="font-size: 16px; font-family: Inter, sans-serif;">
                              <strong>{{ video.title }}</strong>
                              <i class="fas fa-video float-end" style="color: rgb(133, 135, 150);"></i>
                            </span>
                          </li>
                        </a>
                        
                        {% endfor %}

                      </ul>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>





  <script>
    const videos = [
      {% for video in data1.videos %}
        { link: "{{ video.link }}", rating: "{{ video.rating }}", dis: "{{ video.dis }}", title: "{{ video.title }}" },
      {% endfor %}
    ];
    
    let currentVideoIndex = 0;
    const videoFrame = document.getElementById('videoFrame');
    const videoTitle = document.getElementById('videoTitle');
    const videoRating = document.getElementById('videoRating');
    const videoDescription = document.getElementById('videoDescription');

    function playVideo(link, rating, description, title) {
      videoFrame.src = link;
      videoTitle.textContent = `Title: ${title}`;
      videoRating.textContent = `Rating: ${rating}`;
      videoDescription.textContent = `Description: ${description}`;
    }

    function playNextVideo() {
      currentVideoIndex = (currentVideoIndex + 1) % videos.length;
      playVideo(videos[currentVideoIndex].link, videos[currentVideoIndex].rating, videos[currentVideoIndex].dis, videos[currentVideoIndex].title);
    }

    function playPreviousVideo() {
      currentVideoIndex = (currentVideoIndex - 1 + videos.length) % videos.length;
      playVideo(videos[currentVideoIndex].link, videos[currentVideoIndex].rating, videos[currentVideoIndex].dis, videos[currentVideoIndex].title);
    }

    // Play the first video by default
    playVideo(videos[currentVideoIndex].link, videos[currentVideoIndex].rating, videos[currentVideoIndex].dis, videos[currentVideoIndex].title);
  </script>

  {% endblock %}

