
{% extends 'base.html' %}

{% block content %}
<head>
  <link rel="stylesheet" href="static/css/bootstrap.min.css">

</head>
<body id="page-top" data-bs-spy="scroll" data-bs-target="#mainNav" data-bs-offset="54">

    </nav>
    <header class="masthead" style="background-image: url('static/img/header-bg.jpg');">
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in"><span>Welcome To FG LawKit!</span></div>
                <div class="intro-heading text-uppercase"><span>It's Nice To Be Here</span></div>
              {#<a class="btn  btn-xl text-uppercase" style=" color: #ffffff; background: #00B2FF; font-weight: bold;" role="button" href="#team">Tell mE more</a>#}
            </div>
        </div>
    </header>
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="text-uppercase">About</h2>
                    <h3 class="text-muted section-subheading"></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="list-group timeline">
                        <li class="list-group-item">
                            <div class="timeline-image"><img class="rounded-circle img-fluid" src="https://fglawkit-images-cdn.b-cdn.net/about%20us/parth.jpg"></div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4> </h4>
                                    <h4 class="subheading"></h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">It all began in 2021 when a fellow intern confided in me, tears welling up, saying "I feel underconfident because of my law school tag. Unlike you neither does my college provide me with any resources nor do I have anyone to help me out."</p>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item timeline-inverted">
                            <div class="timeline-image"><img class="rounded-circle img-fluid" src="https://fglawkit-images-cdn.b-cdn.net/about%20us/Untitled%20design.jpg"></div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4></h4>
                                    <h4 class="subheading"></h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">  
                                    We felt a strong urge to support our fellow law students, so we began sharing what we knew on YouTube
                                    
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="timeline-image"><img class="rounded-circle img-fluid" src="https://fglawkit-images-cdn.b-cdn.net/about%20us/image_2023-10-10_12-30-59.png"></div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4></h4>
                                    <h4 class="subheading"></h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                    The overwhelming response we received on our social media inspired us to go the extra mile.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item timeline-inverted">
                            <div class="timeline-image"><img class="rounded-circle img-fluid" src="https://fglawkit-images-cdn.b-cdn.net/about%20us/Untitled%20design%20(1).jpg"></div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4></h4>
                                    <h4 class="subheading"></h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                    Won 1st Prize in the Prototype Category at Gujarat NLU Legal Startup Competition
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item timeline-inverted" >
                            <div class="timeline-image" style=" color: #ffffff; background: #00B2FF; font-weight: bold;">
                                
                                <h4 >Launched Our Website & Actively Curating Tools and Resources For Law Schools & Students</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section class="bg-light" id="team">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="team-member"><img class="rounded-circle mx-auto" src="static/img/team/1.jpg">
                        <h4>Kay Garland</h4>
                        <p class="text-muted">Lead Designer</p>
                        <ul class="list-inline social-buttons">
                            <li class="list-inline-item"><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member"><img class="rounded-circle mx-auto" src="static/img/team/2.jpg">
                        <h4>Larry Parker</h4>
                        <p class="text-muted">Lead Marketer</p>
                        <ul class="list-inline social-buttons">
                            <li class="list-inline-item"><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member"><img class="rounded-circle mx-auto" src="static/img/team/3.jpg">
                        <h4>Diana Pertersen</h4>
                        <p class="text-muted">Lead Developer</p>
                        <ul class="list-inline social-buttons">
                            <li class="list-inline-item"><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{{ url_for('static', filename='js/agency.js') }}"></script>

</body>
{%endblock content%}
