{% extends 'base.html' %}
{% block content %}


<body id="page-top" data-bs-offset="54" style="user-select: none;">
   
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="text-uppercase">ABOUT</h2>
                    <h3 class="text-muted section-subheading">Making Better Interns</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="list-group timeline">
                        <li class="list-group-item">
                            <div class="timeline-image"><img class="rounded-circle img-fluid" src="https://fglawkit-images-cdn.b-cdn.net/about%20us/parth_kid.jpg"></div>
                            <div class="timeline-panel">
                                
                                <div class="timeline-body m-2">
                                    <p class="text-muted">It all began in 2021 when a fellow intern confided in me, tears welling up, saying "I feel underconfident because of my law school tag. Unlike you neither does my college provide me with any resources nor do I have anyone to help me out."</p>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item timeline-inverted">
                            <div class="timeline-image"><img class="rounded-circle img-fluid" src="https://fglawkit-images-cdn.b-cdn.net/about%20us/Untitled%20design.jpg"></div>
                            <div class="timeline-panel">
                                
                                <div class="timeline-body my-4" >
                                    <p class="text-muted">We felt a strong urge to support our fellow law students, so we began sharing what we knew on YouTube</p>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="timeline-image"><img class="rounded-circle img-fluid" src="https://fglawkit-images-cdn.b-cdn.net/about%20us/yt_stars.jpg"></div>
                            <div class="timeline-panel">
                                <div class="timeline-body m-4">
                                    <p class="text-muted">The overwhelming response we received on our social media inspired us to go the extra mile.</p>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item timeline-inverted">
                            <div class="timeline-image"><img class="rounded-circle img-fluid" src="https://fglawkit-images-cdn.b-cdn.net/about%20us/Untitled%20design%20(1).jpg"></div>
                            <div class="timeline-panel">
                                
                                <div class="timeline-body m-4">
                                    <p class="text-muted">Won 1st Prize in the Prototype Category at Gujarat NLU Legal Startup Competition.</p>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="timeline-image"><img class="rounded-circle img-fluid" src="https://fglawkit-images-cdn.b-cdn.net/logo.jpg"></div>
                            <div class="timeline-panel">
                                
                                <div class="timeline-body m-5">
                                    <p class="text-muted">Launched Our Website & Actively Curating Tools and Resources For Law.
                                    </p>
                                </div>
                            </div>
                        </li>
                    </li>
                    <li class="list-group-item timeline-inverted" >
                        <div class="timeline-image" style=" color: #ffffff; background: #00B2FF;">
                            <div class="mx-5">
                            <h4>Welcome To Our Website</h4>
                            </div>
                        </div>
                    </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section class="bg-light" id="team">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="team-member"><img class="rounded-circle mx-auto" src="https://fglawkit-images-cdn.b-cdn.net/about%20us/parth%20name.JPG">
                        <h4>Parth Jain</h4>
                        <p class="text-muted">CEO & FOUNDER</p>
                        
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member"><img class="rounded-circle mx-auto" src="https://fglawkit-images-cdn.b-cdn.net/about%20us/chrivi%20mani.jpg">
                        <h4>Charvi Virmani</h4>
                        <p class="text-muted">CO-FOUNDER</p>
                        
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member"><img class="rounded-circle mx-auto" src="https://fglawkit-images-cdn.b-cdn.net/about%20us/darshan%20name.jpg">
                        <h4>Darshan Jain</h4>
                        <p class="text-muted">CTO</p>
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
    

{% endblock content %}
