{% extends 'base.html' %}

{% block content %}
<br>
<br>
<br>


<div class="container-fluid">
  <div class="row">
    <!-- Text on one side -->
    <div class="col-lg-6 col-12 hero-text ">
      <h2><b>NOT YOUR ORDINARY ACADEMIC COURSES</b></h2>
    <h6 class="mb-4"><i>"Approved By Knowledge Not Certificate"</i></h6>
         <ul class="hero-list">
              <li><i class="bi bi-award"></i>At FG Lawkit, we're all about creating courses that go beyond the regular academic content. Our courses are designed to give you an advantage in your journey by enhancing your CV, opening doors to scholarships and internships, and equipping you with the essential soft skills you'll need along the way.</li>
              <li><i class="bi bi-award"></i> Now our message to lawyers - we would be delighted to collaborate with you. So, if you are a lawyer or someone who has secured any scholarship or an unconventional job role, or if you conduct workshops on subjects that you believe are crucial and can benefit law students, create your own intellectual property, develop your course, and list it on our platform . For more info mail us or text over Linkedin</li>
         </ul>
        
     
     {# <button class="btn mt-3 hero-getstarted">Register</button>
      <button class="btn mt-3 hero-getstarted1">Learn More</button>#}
    </div>
    <!-- Card on the other side -->
    <div class="col-lg-6 col-12 hero-card px-auto bg-white">
      <div class="card mx-auto" style="width: 70%;">
        <div style="position:relative;padding-top:56.25%;"><iframe src="https://iframe.mediadelivery.net/embed/162733/41b0de87-6d02-4752-9f19-52603a82b295?autoplay=true&loop=false&muted=false&preload=true" loading="lazy" style="border:0;position:absolute;top:0;height:100%;width:100%;" allow="accelerometer;gyroscope;autoplay;encrypted-media;picture-in-picture;" allowfullscreen="true"></iframe></div>
        <div class="card-body">
          <div>
            <p class="card-text">We are prepared to offer you a platform where you can develop your own courses or 
              intellectual property that will mutually benefit both you and our subscribers.</p>
          </div>
         
        </div>
        
      </div>
    </div>
  </div>

  <h1 class="text-center"><b>Course</b></h1>
  <p class="mx-auto text-center"
    style="height: 2.3px; width: 35vw; max-width: 90px; background-color: black; transform: translateX(0%);"></p>
  <div class="row">
  </div>











  {% if data != "false" %}

  <div class="row mx-3">
    {% for item in data %}

    <div class="col-lg-6 col-xl-4 py-4 col-12">
      <div class="card mx-auto" style="width: 80%;">
        <img src="{{item['image_link']}}" class="card-img-top" loading="eager" alt="Card Image">
        <div class="card-body" style="min-height: 250px;">
          <b>{{item['course']}}</b>
          <hr>
          <div>
            <p class="card-text">{{item['short_dic']}}</p>
          </div>


        </div>
        <div class="card-footer" style="background: #00B2FF;">
          <a href="{{ url_for('course_details',value=item['course_code']) }}">
            <h4 style="text-align: center;font-weight: bold;color: rgb(255,255,255);">Explore</h4>
          </a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  {% endif %}








</div>
{% endblock %}
