{% extends 'base.html' %}

{% block content %}


<br>
<br>

<br>

  <div class="container-fluid">
    <div class="row">
        <!-- Text on one side -->
        <div class="col-lg-6 col-12 hero-text ">
          
            <h1 class="mb-4"><b>{{details['rambaan_categories_name']}}</b></h1>
            <p>{{details['long_dic']}}</p>
            {#<a href="{{url_for('rambaan_home')}}">
            <button class="btn mt-3 hero-getstarted">Register</button>
            </a>#}
            
            {#<button class="btn mt-3 hero-getstarted1">Learn More</button>#}
        </div>
        <!-- Card on the other side -->
        <div class="col-lg-6 col-12 hero-card px-auto bg-white">
            <div class="card mx-auto" style="width: 60%;">
                  <div style="position:relative;padding-top:56.25%;">
                    <iframe src="{{details['video_link']}}" loading="lazy" style="border:0;position:absolute;top:0;height:100%;width:100%;" allow="accelerometer;gyroscope;autoplay;encrypted-media;picture-in-picture;" allowfullscreen="true"></iframe>
                </div>
                  {#<img class="img-fluid" src="{{details['image_link']}}">#}
               
                <div class="card-body">
                  <div>
                    <center><p> <b>~Sample Videos~</b></p></center>
                  </div>
                  <hr>
                  <div>
                    <p class="card-text">{{details['short_dic']}}</p>
                  </div>
                  <div >
                    <ul class="hero-list">
                       {% for j in details['feature'] %}
                        <li><i class="bi bi-award"></i>{{j}}</li>
                        {% endfor %}
                    </ul>
                  </div>
                </div>
                <div class="card-footer" style="background: #00B2FF;">
                  <a href="{{ url_for('Student_rambaan.proced_to_buy') }}">
                    <h4 style="text-align: center;font-weight: bold;color: rgb(255,255,255);">Buy Now</h4>
                  </a>
                </div>
            </div>
        </div>
    </div>














  <h2 class="text-center fw-bold mb-0">Content</h2>
  <p class="mx-auto text-center"
    style="height: 2.3px; width: 35vw; max-width: 90px; background-color: black; transform: translateX(0%);"></p>
  
  <div class="container mb-5">
    <div class="row justify-content-left"> <!-- Center the column within the row -->
        <div class="col-10 mx-auto"> <!-- Center the column within its container -->
            <ul class="list-group">
                <!-- List Header -->
                {% for i in details['course_include'] %}
                
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  {{i['title']}}
                  <span class="bi bi-camera-video-fill text-muted"></span>
              
                </li>
                {% endfor %}
            
            </ul>
        </div>
    </div>
</div>

</div>


  


{% endblock %}
